f/* CSS Code Here */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* What we're styling */

h1{	      /* How we're styling it */

	font-weight: 200;
	text-transform: uppercase;
	border-bottom: 5px solid;
	font-size: 50px;
}

body {
	background-color: #F5B7B1;
	color: #566573;
	font-family: "Roboto Condensed";
}

img{
	height: 500px;
	border-radius: 10%;
}

#container{

	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

		/*
	display - Sets whether an element is treated as a block or
				inline element and the layout used for its children, such as flow,
				grid or flex
				display:flex ; - The element behaves like a block element and lays out its
									content according to the flexbox model
	flex - sets how a flex item will grow or shrink to fit
			the space available in its flex container
	*/

}

button {
	margin: 30px auto 0; /* Space inside */
	padding: 20px 25px; /* Space between the element and the border */
	background-color: #F5B7B1;
	font-size: 14px;
	text-align: center;
	border: 1px solid #566573;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	outline: none;
}

button:hover {
	transition: 0.3s; /* Makes any changes made to this element happen at the given time*/
	background-color: #566573;
	color: #F5B7B1;
	text-decoration: underline;
}

p {
	font-size: 20px;
}
